<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <header class="header">
            <a href="http://www.freecodecamp.com"><img alt="FreeCodeCamp logo" class="fcclogo" src=
            "https://s3.amazonaws.com/freecodecamp/freecodecamp_logo.svg"></a>

            <div class="right greeting" ng-show="isLoggedIn()">
                Hello {{me.username}}
            </div>
            <div class="right" ng-hide="isLoggedIn()">
                <button class="btn btn-lg btn-block btn-github btn-social" ng-click="authenticate(\'github\')"><i class=
                "fa fa-github"></i>Log in with Github</button>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th colspan="9" id="header">
                                <h3 ng-show="onRecentPage">(unofficial) Leaderboard over last 30 days activity</h3>
                                <a class="small-link" href="#" ng-click="getDataAlltime()" ng-show="onRecentPage">All Time leaderboard</a>

                                <h3 ng-hide="onRecentPage">(unofficial) All Time Leaderboard</h3>
                                <a class="small-link" href="#" ng-click="getDataRecent()" ng-hide="onRecentPage">30 days leaderboard</a>
                            </th>
                        </tr>
                        <tr class="top100" ng-show="isLoggedIn()">
                            <td colspan="9">You\'re following:&nbsp;&nbsp;<span ng-repeat="follow in me.followimg"><img class="userimg"
                            ng-src="{{follow}}"></span><button class="btn rank-btn" ng-click="getDataFollowing()" ng-hide=
                            "showingFollowing">Show Following</button><button class="btn rank-btn" ng-click="getDataRecent()" ng-show=
                            "showingFollowing">Show Top 100</button></td>
                        </tr>
                        <tr class="top100">
                            <td colspan="9">
                                <div class="single">
                                    <span>Not listed below? Get your own ranking here:</span> <input ng-keypress="handleEnter($event)" ng-model=
                                    "username" placeholder="Username"> <button class="btn rank-btn" ng-click="getUserRanking()">Get
                                    ranking</button> <button class="btn rank-btn" ng-click="followUser(\'input\')" ng-show=
                                    "isLoggedIn()">Follow</button>
                                </div>
                            </td>
                        </tr>
                        <tr class="top100" ng-show="notFound">
                            <td colspan="9"><span>No ranking found for {{username}}</span>
                            </td>
                        </tr>
                        <tr class="top100" ng-show="singleUser && !notFound">
                            <td>{{singleUser.ranking}}</td>

                            <td>
                                <a href="http://www.freecodecamp.com/{{singleUser.username}}" target="_blank"><img class="userimg" ng-src=
                                "{{singleUser.img}}"> <span class="user-name">{{singleUser.username}}</span></a>
                            </td>

                            <td class="count"><span ng-show="onRecentPage">{{singleUser.totalRecent}}</span><span ng-hide=
                            "onRecentPage">{{singleUser.total}}</span>
                            </td>

                            <td class="count"><span ng-show="onRecentPage">{{singleUser.pointsRecent}}</span><span ng-hide=
                            "onRecentPage">{{singleUser.points}}</span>
                            </td>

                            <td class="count"><span ng-show="onRecentPage">{{singleUser.projectsRecent}}</span><span ng-hide=
                            "onRecentPage">{{singleUser.projects}}</span>
                            </td>

                            <td class="count"><span ng-show="onRecentPage">{{singleUser.cummunityRecent}}</span><span ng-hide=
                            "onRecentPage">{{singleUser.community}}</span>
                            </td>

                            <td class="count"><span ng-show="onRecentPage">{{singleUser.total}}</span><span ng-hide=
                            "onRecentPage">{{singleUser.totalRecent}}</span>
                            </td>

                            <td class="lastchecked">{{singleUser.lastUpdate | date:\'yyyy-MM-dd HH:mm:ss\'}}</td>

                            <td class="buttons"><button class="btn btn-default" ng-click="refreshUser(singleUser.username)"><i class=
                            "glyphicon glyphicon-refresh"></i></button>
                            </td>
                        </tr>
                        <tr ng-show="onRecentPage">
                            <th class="idcol">#</th>

                            <th>
                                <a href="" ng-click="order(\'username\')">Camper Name</a> <span class="sortorder" ng-class="{reverse:reverse}"
                                ng-show="predicate === \'username\'"></span>
                            </th>

                            <th class="numbercol">
                                <a href="" ng-click="order(\'totalRecent\')">Recent score</a> <span class="sortorder" ng-class=
                                "{reverse:reverse}" ng-show="predicate === \'totalRecent\'"></span>
                            </th>

                            <th class="numbercol">
                                <a href="" ng-click="order(\'pointsRecent\')">Points</a> <span class="sortorder" ng-class="{reverse:reverse}"
                                ng-show="predicate === \'pointsRecent\'"></span>
                            </th>

                            <th class="numbercol">
                                <a href="" ng-click="order(\'projectsRecent\')">Projects (x50)</a> <span class="sortorder" ng-class=
                                "{reverse:reverse}" ng-show="predicate === \'projectsRecent\'"></span>
                            </th>

                            <th class="numbercol">
                                <a href="" ng-click="order(\'communityRecent\')">Help Score</a> <span class="sortorder" ng-class=
                                "{reverse:reverse}" ng-show="predicate === \'communityRecent\'"></span>
                            </th>

                            <th class="numbercol">
                                <a href="" ng-click="order(\'total\')">Overall score</a> <span class="sortorder" ng-class="{reverse:reverse}"
                                ng-show="predicate === \'total\'"></span>
                            </th>

                            <th class="lastchecked">Last checked</th>

                            <th class="buttons" ng-class="isLoggedIn()">
                            </th>
                        </tr>
                        <tr ng-hide="onRecentPage">
                            <th class="idcol">#</th>

                            <th>
                                <a href="" ng-click="order(\'username\')">Camper Name</a> <span class="sortorder" ng-class="{reverse:reverse}"
                                ng-show="predicate === \'username\'"></span>
                            </th>

                            <th class="numbercol">
                                <a href="" ng-click="order(\'total\')">Overall score</a> <span class="sortorder" ng-class="{reverse:reverse}"
                                ng-show="predicate === \'total\'"></span>
                            </th>

                            <th class="numbercol">
                                <a href="" ng-click="order(\'points\')">Points</a> <span class="sortorder" ng-class="{reverse:reverse}" ng-show=
                                "predicate === \'points\'"></span>
                            </th>

                            <th class="numbercol">
                                <a href="" ng-click="order(\'projects\')">Projects (x50)</a> <span class="sortorder" ng-class=
                                "{reverse:reverse}" ng-show="predicate === \'projects\'"></span>
                            </th>

                            <th class="numbercol">
                                <a href="" ng-click="order(\'community\')">Help score</a> <span class="sortorder" ng-class="{reverse:reverse}"
                                ng-show="predicate === \'community\'"></span>
                            </th>

                            <th class="numbercol">
                                <a href="" ng-click="order(\'totalRecent\')">Recent score</a> <span class="sortorder" ng-class=
                                "{reverse:reverse}" ng-show="predicate === \'totalRecent\'"></span>
                            </th>

                            <th class="lastchecked">Last checked</th>

                            <th class="buttons" ng-class="isLoggedIn()">
                            </th>
                        </tr>
                        <tr class="top100" ng-repeat="camper in campers | orderBy:predicate:reverse | limitTo:100">
                            <td>{{$index+1}}</td>

                            <td>
                                <a href="http://www.freecodecamp.com/{{camper.username}}" target="_blank"><img class="userimg" ng-src=
                                "{{camper.img}}"> <span class="user-name">{{camper.username}}</span></a>
                            </td>

                            <td class="count"><span ng-show="onRecentPage">{{camper.totalRecent}}</span><span ng-hide=
                            "onRecentPage">{{camper.total}}</span>
                            </td>

                            <td class="count"><span ng-show="onRecentPage">{{camper.pointsRecent}}</span><span ng-hide=
                            "onRecentPage">{{camper.points}}</span>
                            </td>

                            <td class="count"><span ng-show="onRecentPage">{{camper.projectsRecent}}</span><span ng-hide=
                            "onRecentPage">{{camper.projects}}</span>
                            </td>

                            <td class="count"><span ng-show="onRecentPage">{{camper.communityRecent}}</span><span ng-hide=
                            "onRecentPage">{{camper.community}}</span>
                            </td>

                            <td class="count"><span ng-show="onRecentPage">{{camper.total}}</span><span ng-hide=
                            "onRecentPage">{{camper.totalRecent}}</span>
                            </td>

                            <td class="lastchecked">{{camper.lastUpdate | date:\'yyyy-MM-dd HH:mm:ss\'}}</td>

                            <td class="buttons" ng-class="isLoggedIn()"><button class="btn btn-default" ng-click=
                            "refreshUser(camper.username)"><i class="glyphicon glyphicon-refresh"></i></button> <button class=
                            "btn btn-default" ng-click="followUser(camper.username)" ng-show=
                            "isLoggedIn() && isNotFollowing(camper.username)"><i class="glyphicon glyphicon-thumbs-up"></i></button>
                            <button class="btn btn-default" ng-click="unfollowUser(camper.username)" ng-show=
                            "isLoggedIn() && isFollowing(camper.username)"><i class="glyphicon glyphicon-thumbs-down"></i></button></td>
                        </tr>
                      
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>